<!DOCTYPE html>
<html>

<head>
    <title>Login | CypherCrew</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body class="auth-body">

    <div class="auth-card">

        <div class="auth-brand">
            <h1>CypherCrew</h1>
            <p>Internal Work Management System</p>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <div class="password-field">
                <input type="password" name="password" id="loginPassword" required>

                <button type="button" id="togglePassword" class="password-toggle">
                    Show
                </button>
            </div>

            <button type="submit">Login</button>

        </form>

    </div>
    <script>
        const loginPassword = document.getElementById("loginPassword");
        const togglePassword = document.getElementById("togglePassword");

        if (loginPassword && togglePassword) {
            togglePassword.addEventListener("click", function () {
                if (loginPassword.type === "password") {
                    loginPassword.type = "text";
                    togglePassword.textContent = "Hide";
                } else {
                    loginPassword.type = "password";
                    togglePassword.textContent = "Show";
                }
            });
        }
    </script>
</body>

</html>