{% extends "base_app.html" %}

{% block title %}Add User | CypherCrew{% endblock %}

{% block content %}
        <div class="page-header">
            <div>
                <h1>Add User</h1>
                <p>Create admin or employee account</p>
            </div>

            <div class="top-actions">
                {% include "partials/notification_widget.html" %}
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="form-card">
            <form method="POST">

                <label>Name</label>
                <input type="text" name="name" placeholder="Full name" required>

                <label>Email</label>
                <input type="email" name="email" placeholder="name@company.com" required>

                <label>Phone</label>
                <input type="text" name="phone" placeholder="e.g. 9876543210">

                <label>Password</label>
                <input type="password" name="password" required>

                <label>Role</label>
                <select name="role" required>
                    {% if current_user.role == "super_admin" %}
                        <option value="admin">Admin</option>
                    {% endif %}
                    <option value="employee">Employee</option>
                </select>

                <label>Designation</label>
                <input type="text" name="designation" placeholder="SEO Executive, Designer, Developer">

                <label>Status</label>
                <select name="status">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>

                <button type="submit">Save User</button>

            </form>
        </div>

    
{% endblock %}
