{% extends "base_app.html" %}

{% block title %}Permissions{% endblock %}

{% block content %}
<div class="form-card">

<h1>{{ user.name }}</h1>

<p>Manage user permissions</p>

<form method="POST">

{% for permission in permissions %}

<label class="check-item">

<input
type="checkbox"
name="permissions"
value="{{ permission.id }}"
{% if permission.id in assigned %}checked{% endif %}
>

<span>
{{ permission.name }}
</span>

</label>

<br>

{% endfor %}

<br>

<button type="submit">

Save Permissions

</button>

</form>

</div>
{% endblock %}
