{% extends "base_app.html" %}

{% block title %}Edit Deliverable{% endblock %}

{% block content %}
        <div class="page-header">
            <div>
                <h1>Edit Deliverable</h1>
            </div>

            <div class="top-actions">
                {% include "partials/notification_widget.html" %}
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="form-card">

            <form method="POST">

                <label>Service</label>
                <input
                    type="text"
                    name="service_name"
                    value="{{ deliverable.service_name }}"
                    required
                >

                <label>Deliverable</label>
                <input
                    type="text"
                    name="deliverable_name"
                    value="{{ deliverable.deliverable_name }}"
                    required
                >

                <label>Completed Count</label>
                <input
                    type="number"
                    name="completed_count"
                    value="{{ deliverable.completed_count }}"
                    required
                >

                <label>Target Count</label>
                <input
                    type="number"
                    name="target_count"
                    value="{{ deliverable.target_count }}"
                    required
                >

                <button type="submit">
                    Update Deliverable
                </button>

            </form>

        </div>

    
{% endblock %}
